.container {
    display: inline-flex;
    flex-direction: row;
    width: auto;
}

.time-duration-label {
    text-align: center;
    font-size: 0.75em;
    line-height: 1em;
    height: 1em;
}
.time-duration {
    font-size: 1.5em;
    line-height: 1em;
    height: 1em;
    text-align: center;
}
.interval {
    margin-left: 15px;
    margin-right: 15px;
}