
$sidebar-color: #B5D3C2;
$calendar-color: #e5e5e5;
$light-grey:#e5e5e5;



$page-height: 600px;
$page-width: 1024px;
$padding: 16px;

html {
    font-size: 24px;
}

body {
    margin: 0px;
    padding: 0px;
    background: black;
}

.text-vcenter {
    display: flex;
    align-items: center;
}

